body {
	font-family: sans-serif;
	font-size: 12px;
	color: #333;
}

table {
	border: 0px;
	border-collapse: collapse;
	margin: 0px auto;
}

th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	padding: 2em 1em 0.5em 1em;
}

td {
	padding: 0.5em;
	border-bottom: 1px solid #ddd;
}

a:link, a:visited {
	text-decoration: none;
	color: #428bca;
}

a:hover {
	text-decoration: underline;
	color: #2a6496;
}

.even {
	background: #f7f5f3;
}

.odd {
	background: #ffffff;
}

.column-donations {
	text-align: center;
}

.column-go {
	text-align: center;
}

.column-project p {
	margin-top: 0.5em
}

.project-name {
	font-weight: bold;
	font-size: 120%;
	margin-left: 1em;
}

a.project-name {
}

a.project-name:hover {
	text-decoration: underline;
}

.donation-method {
	display: inline-block;
	width: 2.0em;
	height: 2.0em;
	overflow: hidden;
	word-break: break-all;
}

.button {
	background: #428bca;
	color: #fff;
	border-radius: 0.5em;
	padding: 0.25em;
	margin: 0.25em;
}

a.button {
	color: #fff;
	padding: 0.5em 1em;
	text-decoration: none;
}

a.button:hover, a.button:active {
	color: #fff;
	padding: 0.5em 1em;
	background: #2a6496;
}
